@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>Please see our contact page to reach out the creators of this application. 
    Please provide a detailed description of your issue and our support team will reach out to you as quickly as possible.
    We take all issues with our application and instructors seriously.</p>
