@{
    ViewBag.Title = "Contact Our Support Team";
}
<h2>@ViewBag.Title.</h2>


<address>
    1601 University Ave<br />
    Morgantown, WV 26501 <br />
    <abbr title="Phone">Phone:</abbr>
    304.293.4092
</address>

<address>
    <strong>Abdulilah Almarzouki:</strong>   <a href="mailto:aalmarzo@mix.wvu.edu">aalmarzo@mix.wvu.edu</a><br />
    <strong>Nassor Khalfani:</strong> <a href="mailto:nbkhalfani@mix.wvu.edu">nbkhalfani@mix.wvu.edu</a><br/>
    <strong>Mitchell Gilmore:</strong> <a href="mailto:mpgilmore@mix.wvu.edu">mpgilmore@mix.wvu.edu</a>
</address>