@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Let's Get Training!</h1>
    <p class="lead">Whether you're a student looking to take your talents to the next level, or an athletic instructor looking to help, We have it all. Feel free to create an account and lets get started 
    creating the next level in athletic training! 
    </p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Students</h2>
        <p>
            Welcome! This application gives you the ability to sign up for lessons created by instructors. 
            We have a wide range of instructors who are eager to help you on your way to athletic development
            and success!
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Instructors</h2>
        <p>Welcome! With this application you can create new lessons to help students on their way to learning new skills 
        and developing on old ones. You can also choose to set the loation, length and price of your lessons!</p>
       
    </div>
